body{
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: 15px;
    line-height: 2.2em;
    color: #818181;
    margin: 0;
}

header{
    background-color: #E9892E;
}

section,footer{
    margin: 40px;
}

h2 {
    text-transform: uppercase;
    font-size: 20px;
}


img{
    width: 80vw;
    height: 230px;
    object-fit: cover;
}

#amazonas, #angra, #ouro-preto{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel-caption h5{
    font-size: 50px;
    color: orange;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.505);
}


footer{
    font-size: 12px;
    text-align: center;
    color: white;
}



